// Backend styles.
.wpblc-broken-links-checker-general {
	#email_addresses {
		width: 700px;
	}
}

.wpblc-broken-links-checker-scan {

	.wpblc-broken-links-checker-scan-wrap {

		.wpblc-broken-links-checker-links-table {
			.column-type {
				width: 13%;
			}
			.column-code {
				width : 13%;
			}
			.column-title {
				width: 13%;
			}
			.column-post_type {
				width: 10%;
			}
			.column-detected_at {
				width: 12%;
			}

			tbody {
				.wpblc-mark-as-fixed.fixed {
					color: #b32d2e;
				}

				.status-type {
					color: white;
					padding: 5px 10px;
					font-weight: bold;
					margin-bottom: 10px;
					width: 100px;
					text-align: center;
					text-transform: uppercase;
					box-shadow: 0 2px 4px 0 rgba(7, 36, 86, 0.075);
					border: 1px solid rgba(7, 36, 86, 0.075);
					border-radius: 10px;
				}
	
				.status-type.not-fixed {
					background: red;
				}
	
				.status-type.fixed {
					background: green;
				}
	
				.message {
					display: block;
					font-size: 12px;
					padding: 5px;
				}
			}

		}

		.wpblc_none {
			display: none;
	
			.wpblc_success_div {
	
				padding: 15px;
				color: #155724;
				background-color: #d4edda;
				border-color: #c3e6cb;
				border-radius: 3px;
				display: flex;
				align-items: center;
				font-size: 1.3em;
				margin: 1em 0;
	
				.wpblc_loader_margin {
					margin: 0 10px;
				}
			}
		}
	}

	.wpblc-broken-links-checker-scan-header-wrap {
		margin-top: 1%;

		.wpblc-broken-links-checker-scan-headers {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 2%;
			background-color: #ffffff;
			border: 1px solid #ccc;
			height: max-content;
		}

		.wpblc-broken-links-checker-scan-actions {
			padding-right: 3%;

			input#wpblc-manual-scan {
				border: none;
				color: #fff;
				padding: 11px 28px;
				text-align: center;
				margin-right: 7px !important;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;
				margin: 4px 2px;
				cursor: pointer;
				-webkit-transition-duration: .4s;
				transition-duration: .4s;
				border-radius: .5em;
			}
		}

	}
}
